<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.1/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
>
    <php>
        <const name="strict_types" value="1" />
    </php>
    <testsuites>
        <testsuite name="factoryMethods">
            <file>tests/CcdaDocumentFactoryMethodFilepathTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <file>src/Models/CcdaDocument.php</file>
            <!--
            ## The code is not ready yet for the directory entry below. Once more functionality has been coded,
            ## we will have to include more of the models in our unit test code coverage report.

            <directory suffix=".php">src/Models</directory>
            -->
        </whitelist>
    </filter>
</phpunit>